html {
  overflow: hidden;
  background-image: url("assets/n.png");
  background-size: 1900px;
}

.Opponent {
	animation: rotation 3s infinite linear;
	-webkit-animation: rotation 3s infinite linear;
	color: rgb(0, 0, 0);
}

.paused .Opponent {
	animation: none;
	-webkit-animation: none;
}

@-webkit-keyframes rotation {
	from {
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
		-webkit-transform: rotate(359deg);
	}
}

.gamebutton {
	border: none;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 10px 20px;
	outline: none;
	font-family: monospace;
	cursor: pointer;
}


ul{
	color: rgb(0, 0, 0);
}

